# dirs
experiment/logs/
experiment/stimuli/
notes/
old/
stimgen/metadata/
stimgen/scores/
stimgen/speech/
stimgen/music/
stimgen/test_music/

# files
experiment/short_block_stims_for_testing.yaml

# pixi environments
.pixi/*
!.pixi/config.toml
__pycache__/
