[workspace]
authors = ["Daniel McCloy <dan@mccloy.info>"]
channels = ["conda-forge"]
name = "prism"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
ipython = "*"
numpy = ">=2,<3"
pyyaml = ">=6.0.3,<7"

[environments]
analysis = ["analysis"]
experiment = ["experiment"]
stimuli = ["stimuli"]

[feature.experiment]
platforms = ["linux-64", "win-64"]
dependencies = { ffmpeg = "<8", scp = "*" }
pypi-dependencies = { expyfun = {git = "https://github.com/LABSN/expyfun.git", rev = "2570c72", extras = ["all"]}, rtmixer = {git = "https://github.com/spatialaudio/python-rtmixer.git", rev="d42cc37"}, setuptools = "70.1" }

[feature.experiment.tasks]
experiment = {cmd = "python run_experiment.py", cwd = "experiment"}
getstims = {cmd = "scp -r kasga:/data06/dan/stimuli .", cwd = "experiment"}
rsyncstims = {cmd = "rsync -rtuv kasga:/data06/dan/stimuli .", cwd = "experiment"}

[feature.analysis]
#pypi-dependencies = { mne-bids-pipeline = {path = "/opt/mne/pipeline", editable = true} }
pypi-dependencies = { mne-bids-pipeline = {git = "https://github.com/mne-tools/mne-bids-pipeline.git", rev = "0eff5f1"} }

[feature.analysis.tasks]
bidsify = {cmd = "python bidsify.py", cwd = "analysis"}
epochdur = {cmd = "python precompute_epoch_length.py", cwd = "analysis"}
pipeline = {cmd = "mne_bids_pipeline --config pipeline-config.py {{ args }}", cwd = "analysis", depends-on = "epochdur", args = [{arg = "args", default = ""}]}

[feature.stimuli]
channels = ["conda-forge", "bioconda"]
dependencies = { fitter = "*", music21 = "*" }
pypi-dependencies = { cmudict = "*", syllables = "*" }

[feature.stimuli.tasks]
countsyllables = { cmd = "python characterize_corpus.py", cwd = "stimgen" }
makemusic = { cmd = "python make_stimuli.py", cwd = "stimgen", depends-on = "countsyllables" }
