[workspace]
authors = ["Daniel McCloy <dan@mccloy.info>"]
channels = ["conda-forge"]
name = "prism"
platforms = ["linux-64", "win-64"]
version = "0.1.0"

[dependencies]
ffmpeg = "<8"
ipython = ">=9.6.0,<10"
mne = "*"
mne-bids = "*"
music21 = "*"
numpy = ">=2.3.4,<3"
pyyaml = ">=6.0.3,<7"
scp = ">=0.15.0,<0.16"

[pypi-dependencies]
expyfun = { git = "https://github.com/LABSN/expyfun.git", rev = "2570c72", extras = ["all"] }
mne-bids-pipeline = { git = "https://github.com/mne-tools/mne-bids-pipeline.git", rev = "3c71234"}

[tasks]
getstims_rsync = { cmd = "rsync -rtuv kasga:/data06/dan/stimuli .", cwd = "experiment" }
getstims = { cmd = "scp -r kasga:/data06/dan/stimuli .", cwd = "experiment" }
experiment = { cmd = "python run_experiment.py", cwd = "experiment" }
makestims = { cmd = "python make_stimuli.py", cwd = "stimuli" }
bidsify = { cmd = "python bidsify.py", cwd = "analysis" }
epochdur = { cmd = "python precompute_epoch_length.py", cwd = "analysis" }
pipeline = { cmd = "mne_bids_pipeline --config pipeline-config.py", cwd = "analysis", depends-on="epochdur" }
